 # Configuración de MongoDB
MONGO_URI=mongodb://localhost:27017
DB_NAME=sensores_db
COLLECTION_NAME=mediciones

# Configuración de HiveMQ Cloud
MQTT_BROKER=your_broker.cloud.hivemq.com
MQTT_PORT=8883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
MQTT_TOPIC=sensores/#

# JWT
JWT_SECRET=your_jwt_secret